body {
	background-color:#fff;
	color:#000000;
	font-family: 'Spectral SC', serif;
	 margin:0;
   	padding:0;
  	height:100%;
}

.logo {
	width:900px;
	height:334px;
}

h3 {
	color:#808080;
}

a {
	color:#ffa500;
}

footer {

	position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

#container {
   min-height:100%;
   position:relative;
}
