<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Quienes Somos</h2>
                <hr class="light">
                <p class="text-faded">Somos una empresa de ingeniería, cuyos directores poseen más de 45 años de experiencia en las áreas de energía y agua, fundada para brindar los servicios de diseños, estudios, supervisión y suministro de equipos especializados. <br><br>
Enfocados en brindar las soluciones de ingeniería más eficientes a los proyectos que nuestros clientes nos propongan, en base a nuestra experiencia y usando las tecnologías más avanzadas disponibles.
</p>
                <a href="#services" class="btn btn-default btn-xl">Más</a>
            </div>
        </div>
    </div>
</section>
