<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactanos!</h2>
                <hr class="primary">
                <p>Listo para comenzar tu proyecto con nosotros? Perfecto! Llamanmos o escribenos por correo y nos pondremos en contacto lo más pronto posible!</p>
                <br>                <p>Plaza Petrópolis Módulo B-10 Km. 8.5 Carretera Sur. <br>Managua, Nicaragua.</p>

                <p>(505) 2224-5368</p>
                <p>(505) 8886-5225</p>
                <br><br>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/{{ site.github_username }}">
            
                <p>{{ site.github_username }}</p>
            </a>
        </div>

    </div>
</section>
