<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Inicio</a></li>
            <li><a href="{{ site.baseurl }}/acerca">Acerca</a></li>
            <li><a href="{{ site.baseurl }}/servicios">Servicios</a></li>
            <li><a href="{{ site.baseurl }}/proyectos">Proyectos</a></li>
            <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            <li><a href="{{ site.baseurl }}/contacto">Contacto</a></li>
          </ul>
        </div>
        <p>&copy; 2018 Montenegro Ingenieros S.A. - Desarrollado por <a target="_blank" href="http://am-software.github.io">AM Software</a></p>
      </div>
    </div>
  </div>
</footer>
