<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros Servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icono-diseno.png" style="width:100px;height:100px;">
          <h2>Diseño</h2>
          <p>
            Eléctrico &bull; Climatización &bull; Ventilación &bull; Refrigeración &bull; Hidráulico
          </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/icono-estudios.png" style="width:100px;height:100px;">
          <h2>Estudios</h2>
          <p>
            Hidrogeológicos &bull; Hidrológicos &bull; Vertidos de Aguas Residuales &bull; Geofísicos &bull; Geológicos &bull; Eficiencia Energética &bull; Energías Renovables
          </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/icono-supervision.png" style="width:100px;height:100px;">
          <h2>Supervisión</h2>
          <p>
            Obras Eléctricas &bull; Climatización &bull; Ventilación &bull; Refrigeración &bull; Hidráulicas &bull; Civiles
          </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icono-equipos.png" style="width:100px;height:100px;">
          <h2>Suministro de Equipos Especializados</h2>
         <p>Importamos equipos especializados para cada necesidad particular de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
