<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros Servicios</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icono-diseno.png" style="width:100px;height:100px;">
          <h2>Diseño</h2>
          <p>
            Eléctrico &bull; Climatización &bull; Ventilación &bull; Refrigeración &bull; Hidráulico
          </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/icono-estudios.png" style="width:100px;height:100px;">
          <h2>Estudios</h2>
          <p>
            Hidrogeológicos &bull; Hidrológicos &bull; Vertidos de Aguas Residuales &bull; Geofísicos &bull; Geológicos &bull; Eficiencia Energética &bull; Energías Renovables
          </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <img src="img/icono-supervision.png" style="width:100px;height:100px;">
          <h2>Supervisión</h2>
          <p>
            Obras Eléctricas &bull; Climatización &bull; Ventilación &bull; Refrigeración &bull; Hidráulicas &bull; Civiles
          </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="img/icono-equipos.png" style="width:100px;height:100px;">
          <h2>Suministro de Equipos Especializados</h2>
         <p>Importamos equipos especializados para cada necesidad particular de nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br>
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Nuestros Proyectos</h2>
                <hr class="primary"><br>
            </div>
        </div>
    </div>
         <div class="container">
        <div class="row">
            <div class="col-lg-12 text-left">
                <ul>
                    <li>Banco Procredit, diseño de sistema de climatización tipo VRF (Variable Refrigerant flow), energéticamente eficiente para reemplazo de sistemas tradicionales de aire acondicionado originalmente instalados en el edificio.</li>
                    <li>Campus Medico UNAN – León, diseño de sistemas de climatización en base agua helada y compresores centrifugos.</li>
                    <li>Remodelación y ampliación del Hospital del Seguro Social (Heodra) en León, diseño de sistema de climatización.</li>
                    <li>Evaluación del estado de los equipos de climatización del Hotel Intercontinental, actualmente Plaza Inter.</li>
                    <li>Evaluación del estado de los equipos de climatización del antiguo aeropuerto internacional Managua.</li>
                    <li>Residencial del Ing. Alfredo Marin y Sra., diseño de sistema eléctrico.</li>
                    <li>Complejo Veraniego Fam. Pellas : El Islon, isletas de Granada, diseño de sistema eléctrico.</li>
                    <li>Complejo Veraniego Fam. Aleman – Flores, Pochomil Viejo, diseño de sistema eléctrico.</li>
                    <li>Banco Procredit, diseño de sistema eléctrico, energéticamente eficiente.</li>
                    <li>Tabacalera Hondurena (Incao), San Pedro Sula, Honduras, diseño de sistema de climatización especializado para el área de producción de cigarrillos.</li>
                    <li>Hotel Seminole, diseño de sistema eléctrico y climatización.</li>
                    <li>Hotel Camino Real, diseño de sistema de climatización.</li>
                    <li>Residencia Lic. Alexis Chamorro, remodelación y ampliación del sistema eléctrico.</li>
                    <li>Residencia Sr. Alan Chamorro y Sra., diseño de sistema electrico.</li>
                    <li>Hospitales Roberto Calderon y Bertha calderón, supervisión de las instalaciones mecánicas (climatización y ventilación, vapor, agua caliente, lavandería y cocina).</li>
                    <li>Hospital Regional de Esteli, supervisión de las instalaciones mecánicas (climatización y ventilación, vapor, agua caliente, lavandería y cocina).</li>
                    <li>Dirección técnica de la instalación del sistema eléctrico de los hospitales regionales de Masaya y Bluefields.</li>
                </ul><br>
            </div>
        </div>
    </div>
    
</section>
